<wicket:panel xmlns:wicket="http://www.w3.org/1999/xhtml">
	<li wicket:id="firstLi">
		<a wicket:id="first" class="page-item">&lt;&lt;</a>
	</li>
	<li wicket:id="prevLi">
		<a wicket:id="prev" class="page-item"><wicket:message key="pagination.but.previous"></wicket:message></a>
	</li>
	<li wicket:id="navigation" class="page-item">
		<a wicket:id="pageLink" href="#" class="page-link"><span wicket:id="pageNumber">5</span></a>
	</li>
	<li wicket:id="nextLi">
		<a wicket:id="next" class="page-item"><wicket:message key="pagination.but.next"></wicket:message></a>
	</li>
	<li wicket:id="lastLi">
		<a wicket:id="last" class="page-item">&gt;&gt;</a>
	</li>
</wicket:panel>