<wicket:panel xmlns:wicket="http://www.w3.org/1999/xhtml">
    <tr class="headers">
        <wicket:container wicket:id="headers">
            <th wicket:id="container">
                <span wicket:id="filter" style="display: inline-block;">[column-filter]</span>
                <span wicket:id="header">
                    <span wicket:id="label">[header-label]</span>
                    <i wicket:id="sortIcon" aria-hidden="true"></i>
                </span>
            </th>
        </wicket:container>
    </tr>
</wicket:panel>