<wicket:panel>
	<div><a wicket:id="HTML">HTML</a> <a wicket:id="PDF">PDF</a> <a wicket:id="Excel">Excel</a></div>
                 <div wicket:id="params">
                   <div wicket:id="parameterName" ></div>
					<input wicket:id="parameterInput"/>
                 </div>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-caret-down">Параметры</i>
                    </a>
                    <ul class="dropdown-menu">
                    <div wicket:id="hiddenParams">
                        <li>	
                        		<div wicket:id="parameterName" ></div>
								<input wicket:id="parameterInput"/>
                        </li>
                    </div>
                    </ul>
                </li>
	<div wicket:id="paginator"></div>
</wicket:panel>