target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
*~
*.swp
*.swo
.classpath
.project
.settings/
build.cmd
databases/
/Orienteer/
/*/Orienteer/
.idea/
*.iml
*.log
orienteer.properties
orienteer-test.properties
