target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
*~
*.swp
*.swo
.classpath
.project
.settings/
build.cmd
databases/
/Orienteer/
/orienteer-core/Orienteer/
/orienteer-graph/Orienteer/
/orienteer-pages/Orienteer/
/orienteer-pivottable/Orienteer/
.idea/
*.iml
*.log
orienteer.properties
orienteer-test.properties
