target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
*~
*.swp
*.swo
.classpath
.project
.settings/
build.cmd
databases/
*/runtime/
/Orienteer/
/Orienteer.*/
/*/Orienteer/
/*/Orienteer.*/
/*/libs/
*/app/
.idea/
*.iml
*.log
*.tar.gz
orienteer.properties
orienteer-test.properties
