orienteer.production=false
orientdb.embedded=false
orientdb.url=remote:localhost/Orienteer
orientdb.db.username=reader
orientdb.db.password=reader
orientdb.db.installator.username=admin
orientdb.db.installator.password=admin
#plantuml.url=http://custom-plantuml-url
#plantuml.showuml=false;