orienteer.production=false
#orienteer.application=Custom application class
orientdb.embedded=false
orientdb.url=remote:localhost/Orienteer
orientdb.guest.username=reader
orientdb.guest.password=reader
orientdb.admin.username=admin
orientdb.admin.password=admin
#orientdb.rest.url=http://localhost:2480
#plantuml.url=http://custom-plantuml-url
#plantuml.showuml=false;

#webjars.readFromCacheTimeout=5 seconds
#webjars.useCdnResources=true
#webjars.cdnUrl=//maxcdn.bootstrapcdn.com:80

#wicket.render.strategy=ONE_PASS_RENDER
