<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <display-name>orienteer</display-name>

    <filter>
		<filter-name>orienteer</filter-name>
		<filter-class>org.orienteer.core.OrienteerFilter</filter-class>
	</filter>
    <filter-mapping>
        <filter-name>orienteer</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    
    <error-page>
        <error-code>404</error-code>
        <location>/404</location>
    </error-page>
    <error-page>
		<error-code>403</error-code>
		<location>/403</location>
	</error-page>
</web-app>
