<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="social">
          <li>
            <a href="#">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="f-wrap clearfix">
          <span class="copyright">© 2015 Orienteer</span>
          <ul class="list-inline f-nav">
            <li><a href="/">Home</a></li>
            <li><a href="https://github.com/OrienteerDW/Orienteer/wiki">Documentation</a></li>
            <li><a href="http://demo.orienteer.org">Demo</a></li>
            <li><a href="#">Services</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <a href="#" class="f-logo"><img src="images/f-logo.png" alt="Orienteer logo"></a>
      </div>
    </div>
  </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="javascripts/jquery.easing.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="javascripts/scrolling-nav.js"></script>
<script src="javascripts/main.js"></script>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
  var pageTracker = _gat._getTracker("UA-55684820-1");
pageTracker._trackPageview();
} catch(err) {}
</script>
