<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="images/logo.png" alt="Orienteer logo"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="top-nav">
      <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="https://github.com/OrienteerDW/Orienteer/wiki">Documentation</a></li>
      <li><a href="http://demo.orienteer.org">Demo</a></li>
      <li class="dropdown">
        <a href="shortcodes.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Services <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="shortcodes.html#typo">Typography</a></li>
          <li><a href="shortcodes.html#icons">icons</a></li>
          <li><a href="shortcodes.html#counter">Counter</a></li>
          <li><a href="coming-soon.html">Coming Soon</a></li>
        </ul>
      </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- ./navigation -->
