
.architect-container {
  width: 90%;
  height: 500px;
  margin: 2%;
}

.architect-editor {
  background: white url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHBhdHRlcm4gaWQ9ImdyaWQiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggZD0iTSAwIDEwIEwgNDAgMTAgTSAxMCAwIEwgMTAgNDAgTSAwIDIwIEwgNDAgMjAgTSAyMCAwIEwgMjAgNDAgTSAwIDMwIEwgNDAgMzAgTSAzMCAwIEwgMzAgNDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2UwZTBlMCIgb3BhY2l0eT0iMC4yIiBzdHJva2Utd2lkdGg9IjEiLz48cGF0aCBkPSJNIDQwIDAgTCAwIDAgMCA0MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZTBlMGUwIiBzdHJva2Utd2lkdGg9IjEiLz48L3BhdHRlcm4+PC9kZWZzPjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JpZCkiLz48L3N2Zz4=");
  overflow: hidden;
  order: 2;
  flex-grow: 2;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.architect-editor > svg {
  min-width: 100% !important;
  width: 100% !important;
  height: 500px !important;
  min-height: 500px !important;
}

.architect-editor-fullscreen > svg {
  height: 100% !important;
  min-height: 100% !important;
}

.architect-editor-sidebar {
  order: 1;
  flex-grow: 1;
  background-color: whiteSmoke;
  border: 1px solid #e0e0e0;
  z-index: 1000;
  max-width: 40px !important;
}

.architect-editor-toolbar {
  display: block;
  background-color: whiteSmoke;
  border: 1px solid #e0e0e0;
  z-index: 1000;
}

.sidebar-item {
  text-decoration: none;
  color: #2E2E2E;
}

.sidebar-item:hover {
  color: #2E2E2E;
  text-decoration: none;
  cursor: pointer;
}

.toolbar-item {
  margin: 5px;
}

.property-name {
  float: right;
}

.editor-icon {
  text-decoration: none;
  color: #2E2E2E;
}

.editor-icon:hover {
  text-decoration: none;
  color: #2E2E2E;
}

.property-type {
  float: left;
  border-right: 2px solid black;
}

.architect-message {
  position: absolute;
  right: 40%;
  top: 390px;
}

.architect-editor-outline {
  position: absolute;
  border: 2px solid black;
  background: transparent;
  width: 250px;
  height: 150px;
  display: none;
  top: 120px !important;
  right: 25px !important;
}

.modal-window-title {
  margin-left: 5px;
}

.modal-window-title-icon {
  margin-right: 5px;
}

.popup-menu-icon {
  margin-left: 4px;
  margin-right: 2px;
  color: black !important;
}

.popup-menu-label {
  margin-left: 2px;
  margin-right: 4px;
}

div.wicket-modal {
  z-index: 100000;
}

.modal-body {
  padding: 0 !important;
}

.btn-danger, .btn-primary {
  color: #ffffff !important;
}

.architect-editor-sidebar-container {
  display: inline-flex;
  width: 100%;
  height: 50vh;
}

.fullscreen {
  width: 100%;
}

.fullscreen > .architect-editor-sidebar-container {
  height: 95% !important;
}

.fullscreen > .card > .card-body {
  display: flex;
}