.gridster.orienteer > ul {
	margin: 0;
	padding: 0;
    list-style-type: none;
}

.gridster.orienteer {
    margin: 0 auto;
    /*opacity: .8;*/
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
    background-color: #EFEFEF;
}

.gs-w > div.panel {
    height: 100%;
}

.gs-w div.panel > div.panel-heading {
    cursor: pointer;
    font-weight: bold;
}


.gridster .gs-w {
    background: #DDD;
}

.gridster .player {
    background: #BBB;
}


.gridster .preview-holder {
    border: none!important;
    background: red!important;
}

