<wicket:panel xmlns:wicket="http://www.w3.org/1999/xhtml">
<div class="container">
<form wicket:id="form">
	<div class = "row">
		<div class="col-xs-9">
        <div class="input-group-top">
            <input wicket:id="query" type="text" class="form-control search-query" autofocus/>
        </div>
        </div>
        <div class="col-xs-3">
            <button type="submit" class="btn btn-primary" wicket:id="search">
                <wicket:message key="search.searchbutton">Search</wicket:message>
            </button>
        </div>
    </div>
    <div class="row">
		<ul wicket:id="tabs">
		</ul>
	</div>
	<div class="row">
	<div wicket:id="resultsContainer">
		<div wicket:id="results"></div>
	</div>
	</div>
</form>
</div>
</wicket:panel>