<wicket:panel xmlns:wicket="http://www.w3.org/1999/xhtml">
    <div class="container-cell">
        <a wicket:id="removeButton" class="remove-button btn btn-danger btn-sm">
            <span class="glyphicon glyphicon-remove-sign"></span>
        </a>
    </div>
    <div class="container-cell">
        <div wicket:id="filter" class="input"></div>
    </div>
    <div class="container-cell">
        <a wicket:id="addButton" class="add-button btn btn-default btn-sm">
            <span class="glyphicon glyphicon-plus-sign"></span>
        </a>
    </div>
</wicket:panel>