<wicket:panel xmlns:wicket="http://www.w3.org/1999/xhtml">
    <div class="container-cell">
        <a wicket:id="removeButton" class="remove-button btn btn-danger btn-sm">
            <i class="fa fa-times"></i>
        </a>
    </div>
    <div class="container-cell">
        <div wicket:id="filter" class="input"></div>
    </div>
    <div class="container-cell">
        <a wicket:id="addButton" class="add-button btn btn-success btn-sm">
            <span class="fa fa-plus"></span>
        </a>
    </div>
</wicket:panel>