<wicket:extend xmlns:wicket="http://www.w3.org/1999/xhtml">
    <h4 wicket:id="title"></h4>
    <ul class="list-filter-inputs">
        <li wicket:id="filters">
            <div wicket:id="container" class="input-container">
                <a wicket:id="removeButton" class="remove-button btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon-remove-sign"></span>
                </a>
                <div wicket:id="filter" class="input"></div>
                <a wicket:id="addButton" class="add-button btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </a>
            </div>
        </li>
    </ul>
</wicket:extend>