.git
.gitignore
**/target/
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.next
**/release.properties
**/*~
**/*.swp
**/*.swo
**/.classpath
**/.project
**/.settings/
build.cmd
**/databases/
/Orienteer/
${artifactId}/
**/.idea/
**/*.iml
**/*.log
