.list-filter-inputs {
    list-style-type: none;
    display: block;
}

.remove-button {
    display: inline-block;
    margin: 5px;
}

.add-button {
    display: inline-block;
    margin: 5px;
}

.list-filter-inputs.input {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.input-container {
    display: table;
    margin-top: 10px;
}

.container-cell {
    display: table-cell;
    vertical-align: bottom;
}

.filter-bubble {
    position: absolute;
    display: inline-block;
    margin: 5px;
    padding: 0;
    border-radius: 5px;
}

.filter-bubble-content {
    padding: 10px;
}

.filter-ok-button {
    display: inline-block;
    position: relative;
    margin-left: 5px;
    margin-bottom: 10px;
    float: right;
}

.filter-clear-button {
    float: left;
    margin-right: 5px;
}

.filtered-column {
    background-color: #ffebee;
}

.filter-width {
    width: auto;
    min-width: 300px;
}

.link-filter-class-choice {
    width: 280px;
    margin-bottom: 5px;
}

.link-filter-document-choice {
    width: 280px;
    margin-top: 5px;
}