.login-panel
{
	margin-top:25%;
}

.nav>li>span
{
	display: block;
	padding: 10px 15px;
}

.nav>li>span:hover
{
	background-color: #eee
}

tr.commandstoolbar a.btn
{
	margin-left:0.5em;
	margin-right:0.5em;
}

td.checkbox-column
{
	width: 15px;
}