.login-panel
{
	margin-top:25%;
}

.nav>li>span
{
	display: block;
	padding: 10px 15px;
}

.nav>li>span:hover
{
	background-color: #eee
}

tr.commandstoolbar a.btn, tr.commandstoolbar span.btn
{
	margin-left:0.5em;
	margin-right:0.5em;
}

td.checkbox-column
{
	width: 15px;
}

td.combobox-column
{
	width: 70px;
}

tr.commandstoolbar
{
	background: #f5f5f5;
}


th.wicket_orderNone a:after
{
	font-family: FontAwesome;
	content: " \f0dc";
}

th.wicket_orderUp a:after
{
	font-family: FontAwesome;
	content: " \f0de";
}

th.wicket_orderDown a:after
{
	font-family: FontAwesome;
	content: " \f0dd";
}

table.table caption
{
	color: #333;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	border-bottom: 0px;
	padding: 8px 15px 4px 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	text-align: left;
	font-weight: bold;
	margin-right: 50%;
	margin-left: 10px;
}

.table-add-button
{
	margin: 10px;
}

td.st-label
{
	width: 30%;
}

td.st-value textarea
{
	height: 12em;
}

div.wicket-modal h3.w_captionText
{
	font-size: 18px;
}

tr.navigation
{
	text-align: center;
}

footer div.powered
{
	text-align:center
}

body {
    padding-top: 100px;
    background-color: #f8f8f8;
}

@media(min-width:768px) {
    body {
        padding-top: 50px;
    }
}

#wrapper {
    /*position:absolute;
    top:0;*/
    width: 100%;
}

#page-wrapper {
    position: static;
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

/*Styles for widgets*/
li.strict caption {
	display: none;
}

li.strict div.panel-body {
    padding: 0;
}

.img-logo {
	width: 30px;
	margin: 2px;
}

div.select2-container.form-control {
	padding: 0;
}

div.signin-panel {
	margin-top: 1em;
}

div.commands {
	text-align: right;
}

@media(min-width:768px) {
    .navbar-static-side {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }

.collapse {
	display: inherit;
	visibility: visible;
}

ul.collapse {
	display: none;
	visibility: hidden;
   }
}