.login-panel
{
	margin-top:25%;
}

.nav>li>span
{
	display: block;
	padding: 10px 15px;
}

.nav>li>span:hover
{
	background-color: #eee
}

tr.commandstoolbar a.btn, tr.commandstoolbar span.btn
{
	margin-left:0.5em;
	margin-right:0.5em;
}

td.checkbox-column
{
	width: 15px;
}

td.combobox-column
{
	width: 70px;
}

tr.commandstoolbar
{
	background: #f5f5f5;
}


th.wicket_orderNone a:after
{
	font-family: FontAwesome;
	content: " \f0dc";
}

th.wicket_orderUp a:after
{
	font-family: FontAwesome;
	content: " \f0de";
}

th.wicket_orderDown a:after
{
	font-family: FontAwesome;
	content: " \f0dd";
}

table.table caption
{
	color: #333;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	border-bottom: 0px;
	padding: 8px 15px 4px 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	text-align: left;
	font-weight: bold;
	margin-right: 50%;
	margin-left: 10px;
}

.table-add-button
{
	margin: 10px;
}

td.st-label
{
	width: 30%;
}

td.st-value textarea
{
	height: 12em;
}

div.wicket-modal h3.w_captionText
{
	font-size: 18px;
}

tr.navigation
{
	text-align: center;
}

footer div.powered
{
	text-align:center
}

body {
    padding-top: 100px;
    background-color: #f8f8f8;
}

@media(min-width:768px) {
    body {
        padding-top: 50px;
    }
}

#wrapper {
    /*position:absolute;
    top:0;*/
    width: 100%;
}

#page-wrapper {
    position: static;
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

/*Styles for widgets*/
li.strict caption {
	display: none;
}

li.strict div.panel-body {
    padding: 0;
}

.img-logo {
	width: 30px;
	margin: 2px;
}

div.select2-container.form-control {
	padding: 0;
}

div.signin-panel {
	margin-top: 1em;
}

div.commands {
	text-align: right;
}

@media(min-width:768px) {
    .navbar-static-side {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }

	.collapse {
		display: inherit;
		visibility: visible;
	}

	ul.collapse {
	display: none;
   }
}

ul.nav-subitems>li.active {
    background-color: #ddd;	
}

div.ajax-indicator {
	padding: 1em 2em;
	position: fixed;
	top: 40%;
	left: 48%;
	background: white;
	border: solid 1px #bbb;
}

.noscroll {
	overflow: hidden;
}

div.panel.widget{
	height: 100%;
	width: 100%;
}

li.fullscreen {
	position: fixed;
	top: 0; right:0; left:0; bottom:0;
	margin: 0;
	z-index: 99999;
	background: white;
	margin: 0 !important;
	height: 100% !important;
	width: 100% !important;
}

div.panel.panel-default div.panel-body{
	height: 100%;
}

li.fullscreen div.panel.panel-default{
	height: 100% ;
	width: 100% ;
	display: table;
}

li.fullscreen div.panel.panel-default div.panel-body{
	height: 100%;
	/* display: table-row; */
	overflow: auto;
}

.actions > * {
	display: inline-block;
	padding: 0 5px;
	
}

.loader-user-jar-label {
	display: block;
	text-align: center;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
}

.loader-user-label {
	font-weight: bold;
	display: inline-block;
}

.form-control {
	/* width: auto; */
	display: inline-block;
}

table.structure-table label.required:after {
	color: red;
	content: "*";
}