.app-header.navbar .navbar-brand .img-logo {
    width: 30px;
    margin-right: 5px;
    overflow: hidden;
	float: left;
	margin-top:3px;
}

.brand-minimized .app-header.navbar .navbar-brand .img-logo {
    display: none;
}

.brand-minimized .app-header.navbar .navbar-brand {
    background-image:url(logo.png);
}

.brand-minimized .app-header.navbar .navbar-brand .navbar-title {
    display: none;
}

.app-header.navbar .navbar-brand {
    background-image: none;
}

.app-header.navbar .navbar-brand .navbar-title {
	vertical-align: sub;
	display: inline;
}

.navigatorLabel {
    text-align: center;
}

tr.commandstoolbar a.btn, tr.commandstoolbar span.btn
{
	margin-right:0.5em;
}

td.checkbox-column
{
	width: 15px;
}

td.combobox-column
{
	width: 70px;
}

tr.commandstoolbar
{
	background: #f5f5f5;
}

tr.commandstoolbar div{
	float:left;
}

.btn-with-whitespace11::after{
	display:block;
	clear:both;
	content:" ";
}

footer div.powered
{
	text-align:center;
	width:100%;
}

td.st-label
{
	width: 30%;
}

.form-control {
	/* width: auto; */
	display: inline-block;
}

td.st-label label{
	font-weight: 700;
}

td.st-label label:after {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

td.st-label label[title]:after {
	content: "\f05a";
	padding-left: 0.2em;
}


td.st-label label.required:after {
	color: red;
	content: "*";
}

td.st-label label[title].required:after {
	content: "* \f05a";
	padding-left: 0;
}

td.st-value textarea
{
	height: 12em;
}

/*Only in widgets*/
li.strict caption {
	display: none;
}

.btn-xs {
  line-height: .76rem;
  padding :.1875rem .375rem;
  font-size: .844rem; 
  /*@include button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius);*/
}

/*widgets headers*/
.ui-sortable:not(.ui-sortable-disabled) .card-header {
    cursor: move;
}

/*wicket modal window header fix*/
div.wicket-modal h3.w_captionText {
    font-size: 16.3833px;
}

div.ajax-indicator {
	padding: 1em 2em;
	position: fixed;
	top: 40%;
	left: 48%;
	background: white;
	border: solid 1px #bbb;
}

li.fullscreen {
	position: fixed;
	top: 0; right:0; left:0; bottom:0;
	margin: 0;
	z-index: 99999;
	background: white;
	margin: 0 !important;
	height: 100% !important;
	width: 100% !important;
}

.fullscreen > .widget {
	height: 100%;
}

.noscroll {
	overflow-y: hidden !important;
}

.password-panel-field {
	margin-bottom: 5px;
}

.ui-sortable {
	margin-bottom: 0 !important;
}

.ui-sortable > li:last-child {
	margin-bottom: 0 !important;
}

li.strict caption {
	display: none;
}

li.strict div.panel-body {
    padding: 0;
}

@media (max-width: 768px) {
	.navbar-brand {
		position: relative !important;
		left: 0 !important;
		margin-left: auto !important;
		margin-right: auto !important;
		padding-left: auto !important;
		padding-right: auto !important;
	}

	.main > .container-fluid {
		padding-left: .5rem !important;
		padding-right: .5rem !important;
	}
}


@media (min-width: 350px) and (max-width: 650px) {
	.classes-table-panel > form > table > thead > .headers > th:last-child {
		display: table-cell;
	}

	.classes-table-panel > form > table > tbody > tr > td:last-child {
		display: table-cell;
	}
}

@media (min-width: 576px) and (max-width: 650px) {
	.classes-table-panel > form > table > thead > .headers > th+th+th+th+th {
		display: none;
	}

	.classes-table-panel > form > table > tbody > tr > td+td+td+td+td {
		display: none;
	}
}

@media (min-width: 350px) and (max-width: 576px) {
	.classes-table-panel > form > table > thead > .headers > th+th+th {
		display: none;
	}

	.classes-table-panel > form > table > tbody > tr > td+td+td {
		display: none;
	}
}

@media (max-width: 576px) {
	.navbar-brand {
		width: auto !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.card-body {
		padding: 0.5rem;
	}
}

@media (max-width: 576px){
	.breadcrumb > .breadcrumb-menu > div > div > a {
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
}

@media (max-width: 430px) {
	.breadcrumb > .breadcrumb-menu > .btn-group {
		display: block;
	}
}

@media (max-width: 349px) {
	.navbar-brand > .navbar-title {
		display: none !important;
	}

	.classes-table-panel > form > table > thead > .headers > th+th+th {
		display: none;
	}

	.classes-table-panel > form > table > tbody > tr > td+td+td {
		display: none;
	}

	.classes-table-panel > form > table > thead > .headers > th:last-child {
		display: table-cell;
	}

	.classes-table-panel > form > table > tbody > tr > td:last-child {
		display: table-cell;
	}

	.classes-table-panel > form > table > thead > .headers > th:first-child, tbody > tr > .checkbox-column {
		display: none !important;
	}

}

@media (max-width: 325px) {
	.classes-table-panel > form > table > tbody > tr > td {
		display: block;
		text-align: center;
	}

	.classes-table-panel > form > table > thead > .headers > th {
		text-align: center;
	}

	.classes-table-panel > form > table > thead > .headers > th:last-child {
		display: none;
	}

	.classes-table-panel > form > table > tbody > tr > td:last-child {
		border-top: none;
		display: block;
	}
}
