.login-panel
{
	margin-top:25%;
}

.nav>li>span
{
	display: block;
	padding: 10px 15px;
}

.nav>li>span:hover
{
	background-color: #eee
}

tr.commandstoolbar a.btn, tr.commandstoolbar span.btn
{
	margin-left:0.5em;
	margin-right:0.5em;
}

td.checkbox-column
{
	width: 15px;
}

tr.commandstoolbar
{
	background: #f5f5f5;
}


th.wicket_orderNone a:after
{
	font-family: FontAwesome;
	content: " \f0dc";
}

th.wicket_orderUp a:after
{
	font-family: FontAwesome;
	content: " \f0de";
}

th.wicket_orderDown a:after
{
	font-family: FontAwesome;
	content: " \f0dd";
}

table.table caption
{
	color: #333;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	border-bottom: 0px;
	padding: 8px 15px 4px 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	text-align: left;
	font-weight: bold;
	margin-right: 50%;
	margin-left: 10px;
}

td.st-label
{
	width: 30%;
}

td.st-value textarea
{
	height: 12em;
}

div.wicket-modal h3.w_captionText
{
	font-size: 18px;
}

tr.navigation
{
	text-align: center;
}