.hours {
    margin-left: 10px;
    margin-right: 5px;
    min-width: 45px;
    max-width: 45px;
}

.minutes {
    margin-left: 5px;
    min-width: 45px;
    max-width: 45px;
}

.time-separator {
    display: inline-flex;
    flex-direction: column;
    font-size: 5px;
    margin-top: 10px;
}

.top-square {
    margin-bottom: 2px;
}

.bottom-square {
    margin-top: 2px;
}
