<wicket:panel xmlns:wicket="http://www.w3.org/1999/xhtml">
    <form wicket:id="form">
        <div class="form-group row mx-auto">
            <label class="col-sm-4">
                <wicket:message key="panel.restore.password.email"></wicket:message>
            </label>
            <input type="email" class="form-control col-sm-8" wicket:id="email"/>
        </div>
        <div class="form-group row mx-auto">
            <div class="border-primary offset-sm-4" wicket:id="restorePasswordButton"></div>
            <a href="#" class="mx-auto p-2 rounded border border-primary" wicket:id="loginLink">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                <wicket:message key="panel.restore.password.link.login"></wicket:message>
            </a>
        </div>
    </form>
</wicket:panel>